<div class="home">
  <header class="navbar navbar-expand-lg d-flex justify-content-center">
    <a class="navbar-brand" href="/">
      <h2 class="mb-0 text-warning">Lemon Autos</h2>
    </a>
    <p class="mb-0 lead border-left border-muted text-white pr-3 pl-3">Selling your Dream Car at a sketchy lot nearby</p>
    <input id="findCar" class="form-control m-sm-3" type="search" placeholder="Find the car of your fever dreams...">
  </header>

  <div class="row p-0 m-0">
    <div class="cars col-sm-12 row p-0 m-0">
      <!-- car -->
      <div class="card border-white p-0 m-0 col-lg-4 col-md-6 col-sm-12 shadow-sm">
        <img src="#" class="card-img-top" alt="product_name">
        <div class="bg-secondary card-footer text-center shadow-sm">
          <h4 class="text-white mb-0">Product Name</h4>
          <div class="small text-white-50">
            VIN
          </div>
        </div>
        <div class="card-body bg-light p-4">
          <p class="card-title text-success lead">20% Sticker Price</p>
          <div class="card-text text-muted">
            $90,000</div>

          <h4 class="card-text text-danger">$80,000</h4>

          <div class="mb-3 d-flex justify-content-left align-items-center">
            <span class="badge badge-danger mr-1">
              Clearance!
            </span>
            <span class="badge badge-primary mr-1">
              Low Miles!
            </span>
            <span class="badge badge-warning mr-1">
              Huge Price Drop!
            </span>
            <span class="badge badge-success mr-1">
              Financing OK
            </span>
          </div>
          <button class="btn btn-outline-success">See Details</button>
        </div>
      </div>
      <!-- car ends -->
    </div>
  </div>
  <footer class="bg-dark text-muted p-4 text-center">&copy; 2019 Lemon Autos // Our cars are more than just lemons!</footer>
</div>
